@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ReservationIn
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Id != 0)
{
    <div>
        <h3>Rezervasyon Güncelleme</h3>
        <form asp-controller="CarReservation" asp-action="UpdateReservationContent" method="post">
            <div class="row">
                <div class="col-sm-6">
                    <label style="font-weight:bold" asp-for="@Model.UserId">Kullanıcı Adı Soyadı</label>
                    <input asp-for="@Model.Id" type="hidden" />
                    <input asp-for="@Model.UserId" type="hidden" />
                    <select value="Model.UserId" asp-for="@Model.UserId" class="form-control" size="1" disabled>
                        @foreach (var item in Model.users)
                        {
                            <option value=@item.Id>@item.Name @item.Lastname</option>
                        }
                    </select>
                    <label style="font-weight:bold" asp-for="@Model.CarId">Araç</label>
                    <select value="Model.CarId" asp-for="@Model.CarId" class="form-control" size="1">
                        @foreach (var item in Model.Carlist)
                        {
                            <option value=@item.Id>@item.Name </option>
                        }
                    </select>
                    <label style="font-weight:bold" asp-for="@Model.ReservationStartDate">Rezervasyon Başlangıç Tarihi</label>
                    <input type="datetime" value="@Model.ReservationStartDate" asp-for="@Model.ReservationStartDate" class="form-control" required />
                    <label style="font-weight:bold" asp-for="@Model.ReservationEndDate">Rezervasyon Bitiş Tarihi</label>
                    <input type="datetime" value="@Model.ReservationEndDate" asp-for="@Model.ReservationEndDate" class="form-control" required />
                    <button type="submit" class="btn btn-secondary">Güncelle</button>
                </div>
                <div class="col-sm-6">
                    <img width="900" height="400" src="~/reservationpage.jpg" alt="Resim Açıklaması">
                </div>

            </div>
            <br />
            <img width="1900" height="500" src="~/front-view-generic-brandless-moder-car-1500x500.jpg" alt="Resim Açıklaması">




        </form>


    </div>
}
