@{
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UsersRoleType
@if (Model.Id != 0)
{
<div>
        <h3>Rol Güncelleme</h3>
    <form asp-controller="Users" asp-action="RoleUpdateContent" method="post">
        <div class="row">
            <div class="col-sm-3">
                <label asp-for="@Model.Name">Rol Adı</label>

            
                <input value="@Model.Id" asp-for="@Model.Id" type="hidden" />
                <input value="@Model.Name" asp-for="@Model.Name" class="form-control" required />
            
                <button type="submit" class="btn btn-secondary">Güncelle</button>
            </div>
        </div>
    </form>
</div>
}